# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
app/.expo/

# dependencies
app/node_modules

# misc
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
